<h1>Merchant Name: <%= @specified_merchant.name %></h1>

<% for transaction in @merchant_transactions %>
  <% category = Category.find(transaction.category_id) %>
  <ul>
    <li><%= category.type %></li>
    <li><%= transaction.amount_spent %></li>
  </ul>
<% end %>

<form action="/merchants/<%= @specified_merchant.id %>/edit/" method="get">

  <input type="submit" value="EDIT MERCHANT">

</form>

<form action="/merchants/<%= @specified_merchant.id %>/delete/confirm/" method="get">

  <input type="submit" value="DELETE MERCHANT">

</form>
