<h1>Merchant Name: <%= @specified_merchant.name %></h1>

<table>
  <tr>
    <th>Category</th>
    <th>Amount</th>
    <th>Date</th>
  </tr>

  <% for transaction in @merchant_transactions %>
  <% category = Category.find(transaction.category_id) %>
  <tr>
    <td><%= category.type %></td>
    <td><%= transaction.amount_spent %></td>
    <td><%= transaction.entry_date%></td>
    <td><a href="/transactions/<%= transaction.id %>">Options</a></td>
  </tr>
  <% end %>

</table>

<form action="/merchants/<%= @specified_merchant.id %>/edit/" method="get">

  <input type="submit" value="EDIT MERCHANT">

</form>

<form action="/merchants/<%= @specified_merchant.id %>/delete/confirm/" method="get">

  <input type="submit" value="DELETE MERCHANT">

</form>
