<h1><%= @year %> Overview</h1>

<div class="year_select">

  <ul>
    <li><a href="/overviews/2018">2018</a></li>
    <li><a href="/overviews/2019">2019</a></li>
    <li><a href="/overviews/2020">2020</a></li>
  </ul>

</div>

<div class="overviews_grid">

  <% for month in @months_info %>

  <div class= <% if month['month_diff'] > 0 %>
      <%= "overview_grid_item_good" %>
      <% else %>
      <%= "overview_grid_item_bad" %>
      <% end %>>

      <ul>
        <li class="month"><%= month['month_name'] %></li>
        <li>Total Spend: <%= Formatter.pound_format(month['month_spend']) %></li>
        <li>Budget: <%= Formatter.pound_format(month['month_bud']) %></li>
        <li>Difference: <%= Formatter.pound_format(month['month_diff']) %></li>
      </ul>

    </div>

    <% end %>
