<h1><%= @year %> Overview</h1>

<div class="year_select">

  <ul>
    <li><a href="/overviews/2018">2018</a></li>
    <li><a href="/overviews/2019">2019</a></li>
    <li><a href="/overviews/2020">2020</a></li>
  </ul>

</div>

<div class="overviews_grid">

  <div class= <% if @jandiff > 0 %>
      <%= "overview_grid_item_good" %>
      <% else %>
      <%= "overview_grid_item_bad" %>
      <% end %>>

    <ul>
      <li class="month">January</li>
      <li>Total Spend: <%= Formatter.pound_format(@jan_spend) %></li>
      <li>Budget: <%= Formatter.pound_format(@janbud.budget) %></li>
      <li>Difference: <%= Formatter.pound_format(@jandiff) %></li>
    </ul>

  </div>

  <div class= <% if @febdiff > 0 %>
      <%= "overview_grid_item_good" %>
      <% else %>
      <%= "overview_grid_item_bad" %>
      <% end %>>

    <ul>
      <li class="month">February</li>
      <li>Total Spend: <%= Formatter.pound_format(@feb_spend) %></li>
      <li>Budget: <%= Formatter.pound_format(@febbud.budget) %></li>
      <li>Difference: <%= Formatter.pound_format(@febdiff) %></li>
    </ul>

  </div>

  <div class= <% if @mardiff > 0 %>
      <%= "overview_grid_item_good" %>
      <% else %>
      <%= "overview_grid_item_bad" %>
      <% end %>>

    <ul>
      <li class="month">March</li>
      <li>Total Spend: <%= Formatter.pound_format(@mar_spend) %></li>
      <li>Budget: <%= Formatter.pound_format(@marbud.budget) %></li>
      <li>Difference: <%= Formatter.pound_format(@mardiff) %></li>
    </ul>

  </div>

  <div class= <% if @aprdiff > 0 %>
      <%= "overview_grid_item_good" %>
      <% else %>
      <%= "overview_grid_item_bad" %>
      <% end %>>

    <ul>
      <li class="month">April</li>
      <li>Total Spend: <%= Formatter.pound_format(@apr_spend) %></li>
      <li>Budget: <%= Formatter.pound_format(@aprbud.budget) %></li>
      <li>Difference: <%= Formatter.pound_format(@aprdiff) %></li>
    </ul>

  </div>

  <div class= <% if @maydiff > 0 %>
      <%= "overview_grid_item_good" %>
      <% else %>
      <%= "overview_grid_item_bad" %>
      <% end %>>

    <ul>
      <li class="month">May</li>
      <li>Total Spend: <%= Formatter.pound_format(@may_spend) %></li>
      <li>Budget: <%= Formatter.pound_format(@maybud.budget) %></li>
      <li>Difference: <%= Formatter.pound_format(@maydiff) %></li>
    </ul>

  </div>

  <div class= <% if @jundiff > 0 %>
      <%= "overview_grid_item_good" %>
      <% else %>
      <%= "overview_grid_item_bad" %>
      <% end %>>

    <ul>
      <li class="month">June</li>
      <li>Total Spend: <%= Formatter.pound_format(@jun_spend) %></li>
      <li>Budget: <%= Formatter.pound_format(@junbud.budget) %></li>
      <li>Difference: <%= Formatter.pound_format(@jundiff) %></li>
    </ul>

  </div>

  <div class= <% if @juldiff > 0 %>
      <%= "overview_grid_item_good" %>
      <% else %>
      <%= "overview_grid_item_bad" %>
      <% end %>>

    <ul>
      <li class="month">July</li>
      <li>Total Spend: <%= Formatter.pound_format(@jul_spend) %></li>
      <li>Budget: <%= Formatter.pound_format(@julbud.budget) %></li>
      <li>Difference: <%= Formatter.pound_format(@juldiff) %></li>
    </ul>

  </div>

  <div class= <% if @augdiff > 0 %>
      <%= "overview_grid_item_good" %>
      <% else %>
      <%= "overview_grid_item_bad" %>
      <% end %>>

    <ul>
      <li class="month">August</li>
      <li>Total Spend: <%= Formatter.pound_format(@aug_spend) %></li>
      <li>Budget: <%= Formatter.pound_format(@augbud.budget) %></li>
      <li>Difference: <%= Formatter.pound_format(@augdiff) %></li>
    </ul>

  </div>

  <div class= <% if @sepdiff > 0 %>
      <%= "overview_grid_item_good" %>
      <% else %>
      <%= "overview_grid_item_bad" %>
      <% end %>>

    <ul>
      <li class="month">September</li>
      <li>Total Spend: <%= Formatter.pound_format(@sep_spend) %></li>
      <li>Budget: <%= Formatter.pound_format(@sepbud.budget) %></li>
      <li>Difference: <%= Formatter.pound_format(@sepdiff) %></li>
    </ul>

  </div>

  <div class= <% if @octdiff > 0 %>
      <%= "overview_grid_item_good" %>
      <% else %>
      <%= "overview_grid_item_bad" %>
      <% end %>>

    <ul>
      <li class="month">October</li>
      <li>Total Spend: <%= Formatter.pound_format(@oct_spend) %></li>
      <li>Budget: <%= Formatter.pound_format(@octbud.budget) %></li>
      <li>Difference: <%= Formatter.pound_format(@octdiff) %></li>
    </ul>

  </div>

  <div class= <% if @novdiff > 0 %>
      <%= "overview_grid_item_good" %>
      <% else %>
      <%= "overview_grid_item_bad" %>
      <% end %>>

    <ul>
      <li class="month">November</li>
      <li>Total Spend: <%= Formatter.pound_format(@nov_spend) %></li>
      <li>Budget: <%= Formatter.pound_format(@novbud.budget) %></li>
      <li>Difference: <%= Formatter.pound_format(@novdiff) %></li>
    </ul>

  </div>

  <div class= <% if @decdiff > 0 %>
      <%= "overview_grid_item_good" %>
      <% else %>
      <%= "overview_grid_item_bad" %>
      <% end %>>

    <ul>
      <li class="month">December</li>
      <li>Total Spend: <%= Formatter.pound_format(@dec_spend) %></li>
      <li>Budget: <%= Formatter.pound_format(@decbud.budget) %></li>
      <li>Difference: <%= Formatter.pound_format(@decdiff) %></li>
    </ul>

  </div>

</div>
