<h1><%= @year %> Overview</h1>

<ul>
  <li>January</li>
  <li>Total Spend: <%= @jan_spend %></li>
  <li>Budget: <%= @janbud.budget %></li>
  <li>Difference: <%= @jandiff %></li>
</ul>

<ul>
  <li>February</li>
  <li>Total Spend: <%= @feb_spend %></li>
  <li>Budget: <%= @febbud.budget %></li>
  <li>Difference: <%= @febdiff %></li>
</ul>

<ul>
  <li>March</li>
  <li>Total Spend: <%= @mar_spend %></li>
  <li>Budget: <%= @marbud.budget %></li>
  <li>Difference: <%= @mardiff %></li>
</ul>

<ul>
  <li>April</li>
  <li>Total Spend: <%= @apr_spend %></li>
  <li>Budget: <%= @aprbud.budget %></li>
  <li>Difference: <%= @aprdiff %></li>
</ul>

<ul>
  <li>May</li>
  <li>Total Spend: <%= @may_spend %></li>
  <li>Budget: <%= @maybud.budget %></li>
  <li>Difference: <%= @maydiff %></li>
</ul>

<ul>
  <li>June</li>
  <li>Total Spend: <%= @jun_spend %></li>
  <li>Budget: <%= @junbud.budget %></li>
  <li>Difference: <%= @jundiff %></li>
</ul>

<ul>
  <li>July</li>
  <li>Total Spend: <%= @jul_spend %></li>
  <li>Budget: <%= @julbud.budget %></li>
  <li>Difference: <%= @juldiff %></li>
</ul>

<ul>
  <li>August</li>
  <li>Total Spend: <%= @aug_spend %></li>
  <li>Budget: <%= @augbud.budget %></li>
  <li>Difference: <%= @augdiff %></li>
</ul>

<ul>
  <li>September</li>
  <li>Total Spend: <%= @sep_spend %></li>
  <li>Budget: <%= @sepbud.budget %></li>
  <li>Difference: <%= @sepdiff %></li>
</ul>

<ul>
  <li>October</li>
  <li>Total Spend: <%= @oct_spend %></li>
  <li>Budget: <%= @octbud.budget %></li>
  <li>Difference: <%= @octdiff %></li>
</ul>

<ul>
  <li>November</li>
  <li>Total Spend: <%= @nov_spend %></li>
  <li>Budget: <%= @novbud.budget %></li>
  <li>Difference: <%= @novdiff %></li>
</ul>

<ul>
  <li>December</li>
  <li>Total Spend: <%= @dec_spend %></li>
  <li>Budget: <%= @decbud.budget %></li>
  <li>Difference: <%= @decdiff %></li>
</ul>
