<h1>Category Type: <%= @specified_category.type %></h1>

<% if @category_transactions.count == 0 %>

<p class="no_transactions">There are currently no transactions relating to <%= @specified_category.type %>.</p>

<% else %>

<div class="table_scroll">

  <table>
    <tr>
      <th>Merchant</th>
      <th>Amount</th>
      <th>Date</th>
      <th>More</th>
    </tr>

    <% for transaction in @category_transactions %>
    <% merchant = Merchant.find(transaction.merchant_id) %>
    <tr>
      <td><a href="/merchants/<%= merchant.id %>"><%= merchant.name %></a></td>
      <td><% number = transaction.amount_spent %>
      <%= Formatter.pound_format(number) %></td>
      <td><%= transaction.entry_date%></td>
      <td><a href="/transactions/<%= transaction.id %>">Options</a></td>
    </tr>
    <% end %>

  </table>

</div>

<% end %>

<form class="" action="/categories/<%= @specified_category.id %>/edit/" method="get">

  <input type="submit" value="EDIT CATEGORY">

</form>

<form class="delete_form" action="/categories/<%= @specified_category.id %>/delete/confirm/" method="get">

  <input type="submit" value="DELETE CATEGORY">

<p id="add_button"><a href="/transactions/new">ADD TRANSACTION</a></p>

</form>
