<h1>Category Type: <%= @specified_category.type %></h1>

<table>
  <tr>
    <th>Merchant</th>
    <th>Amount</th>
    <th>Date</th>
  </tr>

  <% for transaction in @category_transactions %>
  <% merchant = Merchant.find(transaction.merchant_id) %>
  <tr>
    <td><%= merchant.name %></td>
    <td><%= transaction.amount_spent %></td>
    <td><%= transaction.entry_date%></td>
    <td><a href="/transactions/<%= transaction.id %>">Options</a></td>
  </tr>
  <% end %>

</table>


<form class="" action="/categories/<%= @specified_category.id %>/edit/" method="get">

  <input type="submit" value="EDIT CATEGORY">

</form>

<form class="" action="/categories/<%= @specified_category.id %>/delete/confirm/" method="get">

  <input type="submit" value="DELETE CATEGORY">

</form>
