<h1>Category Type: <%= @specified_category.type %></h1>

<% for transaction in @category_transactions %>
  <% merchant = Merchant.find(transaction.merchant_id) %>
  <ul>
    <li><%= merchant.name %></li>
    <li><%= transaction.amount_spent %></li>
  </ul>
<% end %>

<form class="" action="/categories/<%= @specified_category.id %>/edit/" method="get">

  <input type="submit" value="EDIT CATEGORY">

</form>

<form class="" action="/categories/<%= @specified_category.id %>/delete/" method="post">

  <input type="submit" value="DELETE CATEGORY">

</form>
