<h1>Edit Transaction</h1>

<h4>Existing Transaction:</h4>

<div class="transaction">

  <ul>
    <li>Merchant Name: <%= @current_merchant.name %></li>
    <li>Category Type: <%= @current_category.type %></li>
    <li>Amount: <%= @specified_transaction.amount_spent %></li>
    <li>Entry Date: <%= @specified_transaction.entry_date %></li>
  </ul>

</div>

<h4>Enter Changes to Transaction:</h4>

<form action="/transactions/<%= @specified_transaction.id %>" method="post">

  <label for="merchant-select">Select Merchant:</label>

  <br>

  <select id="merchant-select" name="merchant_id">
    <% for merchant in @all_merchants %>
    <option value="<%= merchant.id %>" <%= 'selected' if @specified_transaction.merchant_id == merchant.id %>><%= merchant.name %></option>
    <% end %>
  </select>

  <br>

  <label for="category-select">Select Category:</label>

  <br>

  <select id="category-select" name="category_id">
    <% for category in @all_categories %>
    <option value="<%= category.id %>" <%= 'selected' if @specified_transaction.category_id == category.id %>><%= category.type %></option>
    <% end %>
  </select>

  <br>

  <label for="amount-spent">Amount Spent:</label>

  <br>

  <input type="number" name="amount_spent" value="<%= @specified_transaction.amount_spent %>">

  <br>

  <label for="entry-date">Entry Date:</label>

  <br>

  <input type="date" name="entry_date" value="<%= @specified_transaction.entry_date %>" >

  <br>

  <input type="submit" value="UPDATE TRANSACTION">

</form>
