<h1><%= @year %></h1>
<h1><%= @month_budget.month_name %> Transactions</h1>

<ul>
  <li><a href="/transactions/year/2018">2018</a></li>
  <li><a href="/transactions/year/2019">2019</a></li>
</ul>

<ul>
  <li><a href="/transactions/year/<%= @year %>/month/1">Jan</a></li>
  <li><a href="/transactions/year/<%= @year %>/month/2">Feb</a></li>
  <li><a href="/transactions/year/<%= @year %>/month/3">Mar</a></li>
  <li><a href="/transactions/year/<%= @year %>/month/4">Apr</a></li>
  <li><a href="/transactions/year/<%= @year %>/month/5">May</a></li>
  <li><a href="/transactions/year/<%= @year %>/month/6">Jun</a></li>
  <li><a href="/transactions/year/<%= @year %>/month/7">Jul</a></li>
  <li><a href="/transactions/year/<%= @year %>/month/8">Aug</a></li>
  <li><a href="/transactions/year/<%= @year %>/month/9">Sep</a></li>
  <li><a href="/transactions/year/<%= @year %>/month/10">Oct</a></li>
  <li><a href="/transactions/year/<%= @year %>/month/11">Nov</a></li>
  <li><a href="/transactions/year/<%= @year %>/month/12">Dec</a></li>
</ul>

<table>
  <tr>
    <th>Merchant</th>
    <th>Category</th>
    <th>Amount</th>
    <th>Date</th>
  </tr>

  <% for transaction in @month_transactions %>
  <tr>
    <td><%= Merchant.find(transaction.merchant_id).name %></td>
    <td><%= Category.find(transaction.category_id).type %></td>
    <td><%= transaction.amount_spent %></td>
    <td><%= transaction.entry_date%></td>
    <td><a href="/transactions/<%= transaction.id %>">Options</a></td>
  </tr>
  <% end %>

</table>

<h4>Total Month Spend:</h4>
<p><%= @month_total_spend %></p>

<h4>Monthly Budget:</h4>
<p><%= @month_budget.budget %></p>

<h4>Amount left to spend:</h4>
<p><%= @difference %></p>


<p><a href="/transactions/new">Add Transaction</a></p>
