<h1>All Transactions</h1>

<ul>
  <% for year in @all_years %>
    <li><a href="/transactions/year/<%=year%>"><%= year %></a></li>
  <% end %>
</ul>

<table>
  <tr>
    <th>Merchant</th>
    <th>Category</th>
    <th>Amount</th>
    <th>Date</th>
  </tr>

  <% for transaction in @all_transactions %>
  <tr>
    <td><%= Merchant.find(transaction.merchant_id).name %></td>
    <td><%= Category.find(transaction.category_id).type %></td>
    <td><%= transaction.amount_spent %></td>
    <td><%= transaction.entry_date%></td>
    <td><a href="/transactions/<%= transaction.id %>">Options</a></td>
  </tr>
  <% end %>

</table>

<h4>Total Spend:</h4>
<p><%= @all_total_spend %></p>

<p><a href="/transactions/new">Add Transaction</a></p>
