<h1><%= @year %> Transactions</h1>

<div class="year_select">

  <ul>
    <% for year in @all_years %>
    <li><a href="/transactions/year/<%=year%>"><%= year %></a></li>
    <% end %>
  </ul>

</div>

<div class="month_select">

  <ul>
    <li><a href="/transactions/year/<%= @year %>/month/1">Jan</a></li>
    <li><a href="/transactions/year/<%= @year %>/month/2">Feb</a></li>
    <li><a href="/transactions/year/<%= @year %>/month/3">Mar</a></li>
    <li><a href="/transactions/year/<%= @year %>/month/4">Apr</a></li>
    <li><a href="/transactions/year/<%= @year %>/month/5">May</a></li>
    <li><a href="/transactions/year/<%= @year %>/month/6">Jun</a></li>
    <li><a href="/transactions/year/<%= @year %>/month/7">Jul</a></li>
    <li><a href="/transactions/year/<%= @year %>/month/8">Aug</a></li>
    <li><a href="/transactions/year/<%= @year %>/month/9">Sep</a></li>
    <li><a href="/transactions/year/<%= @year %>/month/10">Oct</a></li>
    <li><a href="/transactions/year/<%= @year %>/month/11">Nov</a></li>
    <li><a href="/transactions/year/<%= @year %>/month/12">Dec</a></li>
  </ul>

</div>

<table>
  <tr>
    <th>Merchant</th>
    <th>Category</th>
    <th>Amount</th>
    <th>Date</th>
    <th>More</th>
  </tr>

  <% for transaction in @year_transactions %>
  <tr>
    <td><a href="/merchants/<%= Merchant.find(transaction.merchant_id).id %>"><%= Merchant.find(transaction.merchant_id).name %></a></td>
    <td><a href="/categories/<%= Category.find(transaction.category_id).id %>"><%= Category.find(transaction.category_id).type %></a></td>
    <td><%= transaction.amount_spent %></td>
    <td><%= transaction.entry_date%></td>
    <td><a href="/transactions/<%= transaction.id %>">Options</a></td>
  </tr>
  <% end %>

</table>

<h4>Total Year Spend:</h4>
<p><%= @year_total_spend %></p>

<h4>Total Year Budget:</h4>
<p><%= @year_budget %></p>

<h4>Amount left to spend:</h4>
<p><%= @difference %></p>

<p id="add_button"><a href="/transactions/new">Add Transaction</a></p>
