<h1>All Transactions</h1>

<% for transaction in @all_transactions %>
  <ul>
    <li><%= Merchant.find(transaction.merchant_id).name %></li>
    <li><%= Category.find(transaction.category_id).type %></li>
    <li><%= transaction.amount_spent %></li>
    <li><a href="/transactions/<%= transaction.id %>">View</a></li>
  </ul>
<% end %>

<h4>Total Spend:</h4>
<p><%= @all_total_spend %></p>

<p><a href="/transactions/new">Add Transaction</a></p>
