<h1>New Transaction</h1>

<form action="/transactions" method="post">

  <label for="merchant-select">Select Merchant:</label>

  <br>

  <select id="merchant-select" name="merchant_id" required>
    <option disabled selected value> -- select -- </option>
    <% for merchant in @all_merchants %>
    <option value="<%= merchant.id %>"><%= merchant.name %></option>
    <% end %>
  </select>

  <br>

  <label for="category-select">Select Category:</label>

  <br>

  <select id="category-select" name="category_id" required>
    <option disabled selected value> -- select -- </option>
    <% for category in @all_categories %>
    <option value="<%= category.id %>"><%= category.type %></option>
    <% end %>
  </select>

  <br>

  <label for="amount-spent">Amount Spent:</label>

  <br>

  <input type="number" name="amount_spent" step="0.01" required>

  <br>

  <label for="entry-date">Entry Date:</label>

  <br>

  <input type="date" name="entry_date" value="<%= @today_date %>" >

  <br>

  <input type="submit" value="POST TRANSACTION">

</form>

<br>
<br>

<p id="add_button"><a href="/merchants/new">ADD MERCHANT</a></p>

<p id="add_button"><a href="/categories/new">ADD CATEGORY</a></p>
