<h1>Transaction ID: <%= @specified_transaction.id %></h1>

<div class="transaction">

  <ul>
    <li>Merchant: <%= @merchant.name %></li>
    <li>Category: <%= @category.type %></li>
    <li>Amount: <%= @specified_transaction.amount_spent %></li>
    <li>Date: <%= @specified_transaction.entry_date %></li>
  </ul>

</div>

<form action="/transactions/<%= @specified_transaction.id %>/edit/" method="get">

  <input type="submit" value="EDIT TRANSACTION">

</form>

<form class="delete_form" action="/transactions/<%= @specified_transaction.id %>/delete/" method="post">

  <input type="submit" value="DELETE TRANSACTION">

</form>
