<h1>Transaction ID: <%= @specified_transaction.id %></h1>

<ul>
  <li><%= @merchant.name %></li>
  <li><%= @category.type %></li>
  <li><%= @specified_transaction.amount_spent %></li>
  <li><%= @specified_transaction.entry_date %></li>
</ul>

<form action="/transactions/<%= @specified_transaction.id %>/edit/" method="get">

  <input type="submit" value="EDIT TRANSACTION">

</form>

<form class="delete_form" action="/transactions/<%= @specified_transaction.id %>/delete/" method="post">

  <input type="submit" value="DELETE TRANSACTION">

</form>
