<h1><%= @year %> Budgets</h1>

<p class="explainer">Choose a Month to Edit a Budget:</p>

<div class="year_select">

  <ul>
    <li><a href="/budgets/year/2018">2018</a></li>
    <li><a href="/budgets/year/2019">2019</a></li>
    <li><a href="/budgets/year/2020">2020</a></li>
  </ul>

</div>

<div class="budgets_grid">

  <% for budget in @all_year_budgets %>
  <div class="grid_item">
    <ul>

      <a href="/budgets/<%= budget.id %>/edit">
        <li><%= budget.month_name %>:</li>
        <li><%= Formatter.pound_format(budget.budget) %></li>
      </a>

    </ul>
  </div>

  <% end %>



</div>

<div class="total_budget">

  <h4>Total Year Budget:</h4>
  <p><%= Formatter.pound_format(@total_year_budget) %></p>

</div>
